In [1]:
import pandas as pd
data = {
    'id': [1, 2, 3, 4, 5],
    'title': ['Banwait food court','RoadSide A Food Joint','Courtyard Pavilion','Maharashtra Lunch Home ','Giza Food Corner'],
    'price': [1500, 800, 2000, 3000, 1000],
    'lat': [19.033696, 19.024384, 19.043365, 19.042841, 19.031753],
    'lng': [73.016750, 73.019967, 73.027075, 73.021976, 73.021614],
    'capacity': [10, 20, 50, 5, 30],
    'rating': ['4.5', '4.0', '3.8', '4.9', '3.5'],
    'amenities': ['Area','street','AC','regional','fastfood'],
}
df = pd.DataFrame(data)

df.to_csv('raw_spaces.csv', index=False)

#data cleaning
df['rating'] = df['rating'].astype(float)  # Now: 4.5, 4.0, 3.8, etc.
#standardization

amenities_mapping = {
    'Area': 'Indoor Seating Area',
    'street': 'Street Parking',
    'AC': 'Air Conditioning',
    'regional': 'Regional Cuisine',
    'fastfood': 'Fast Food'
}
df['amenities'] = df['amenities'].map(amenities_mapping)
# trim whitespace
df['title'] = df['title'].str.strip()
df

,id,title,price,lat,lng,capacity,rating,amenities
0,1,Banwait food court,1500,19.033696,73.016750,10,4.5,Indoor Seating Area
1,2,RoadSide A Food Joint,800,19.024384,73.019967,20,4.0,Street Parking
2,3,Courtyard Pavilion,2000,19.043365,73.027075,50,3.8,Air Conditioning
3,4,Maharashtra Lunch Home,3000,19.042841,73.021976,5,4.9,Regional Cuisine
4,5,Giza Food Corner,1000,19.031753,73.021614,30,3.5,Fast Food